<div class="main">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h2 class="heading">Search Form</h2>
                <form #form="ngForm" (ngSubmit)="submitForm(form)">            
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchText" name="searchText" [(ngModel)]="searchText" required>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>                            
                </form>
            </div>    
        </div> 
    </div>
</div>
