
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <button class="close-btn" (click)="closePopUp()">X</button>
      <h1>{{ title }}</h1>
      <nav>
        <ul>
          <li><a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Search Form</a></li>
          <li><a routerLink="/info" routerLinkActive="active" [state] = "stockDetails" ariaCurrentWhenActive="page">Stock Details</a></li>
        </ul>
      </nav>
      </div>     
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <!-- The routed views render in the <router-outlet>-->
    
  </div>


<router-outlet />
